<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="http://localhost:8000/start">
        <img src="/static/assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">scNavigator ;)</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">

  {% if "workspace" in request.get_full_path %}
    <div class="text-center">
      <h6 class="text-center">Your Experiments</h6>
      <div>
        <div style="width: 160px; height: 80px; border-radius: 5%; border: 2px dashed #bbbbbb; margin-bottom: 5px;margin-left: auto;margin-right: auto"></div>
        Exp1
      </div>
      <hr class="horizontal dark mt-0">
      <div>
        <div style="width: 160px; height: 80px; border-radius: 5%; border: 2px dashed #bbbbbb; margin-bottom: 5px;margin-left: auto;margin-right: auto"></div>
        Exp2
      </div>
      <hr class="horizontal dark mt-0">
    </div>
  {% endif %}
</aside>



