{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Starting! {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <h6 class="font-weight-bolder mb-0">Starting!</h6>
    <div class="container-fluid py-4">

      <div id="experiment-settings" class="row mt-4">
        <div class="col-2 mb-lg-0 mb-4"></div>
        <div class="col-lg-8 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="d-flex flex-column h-100">
                    <h5 class="font-weight-bolder">Run Information</h5>


                    <form id="form-start" action="start" method="post">
                    {% csrf_token %}
                      <div class="input-group mb-3">
                        <span class="input-group-text bg-gray-300" id="basic-addon1">Your Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input name="email" type="text" class="form-control p-lg-1" placeholder="email@domain.com" aria-label="Email" aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3">
                        <span class="input-group-text bg-gray-300" id="basic-addon2">Run Description</span>
                        <input name="description" type="text" class="form-control p-lg-1" placeholder="Description" aria-label="Run Description" aria-describedby="basic-addon2">
                      </div>

                      <br /><br /><br /><br />

                      <a id="btn-start-tmp" class="text-primary" style="cursor: pointer" href="upload/1">Next <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i></a>
                      {% comment %}
                      <a id="btn-start" class="text-primary" style="cursor: pointer">Next <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i></a>
                      {% endcomment %}
                    </form>

                  </div>
                </div>
                <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                  <div class="bg-gradient-primary border-radius-lg h-100">
                    <img src="/static/assets/img/shapes/waves-white.svg" class="position-absolute h-100 w-50 top-0 d-lg-block d-none" alt="waves">
                    <div class="position-relative d-flex align-items-center justify-content-center h-100">
                      <img class="w-100 position-relative z-index-2 pt-4" src="/static/assets/img/illustrations/rocket-white.png" alt="rocket">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 mb-lg-0 mb-4"></div>
      </div>
    </div>


      {% include "includes/footer.html" %}


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="{% static 'assets/js/pages/start.js' %}" type="text/javascript"></script>
{% endblock javascripts %}
